# Intellij
mobile-app-ws/.idea/
mobile-app-ws/*.iml
mobile-app-ws/*.iws

# Mac
.DS_Store

# Maven
mobile-app-ws/log/
mobile-app-ws/target/

# External code
jax-rs/*

# Tomcat server folder
../dev/tomcat/*
